*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

body {
  line-height: 1.5;
  min-height: 100vh;
  position: relative;
  background-color: #f4ebc1 !important;
}
.hover-btn {
  transition: all 700ms ease;
}
.hover-btn:hover {
  color: #f47c7c;
  text-decoration: underline;
}
.hover-btn:active {
  color: #f47c7c;
}
.animation {
  animation: Animation 300ms ease;
}

@keyframes Animation {
  0% {
    opacity: 0;
    transform: translateX(20%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
